.hich-mui-switch {
  width: 64px !important;
  height: 44px !important;
}
.hich-mui-switch > span:first-child {
  top: 5px !important;
  left: 5px !important;
}
.hich-mui-switch > span:first-child > span:nth-child(2) {
  background: var(--content-primary) !important;
  width: 16px !important;
  height: 16px !important;
}
.hich-mui-switch > span:last-child {
  background: transparent !important;
  border: 1px solid var(--surface-border) !important;
  border-radius: 10px !important;
  width: 40px !important;
  height: 20px !important;
  box-sizing: border-box !important;
  opacity: 1 !important;
}

.hich-mui-switch.hich-mui-switch-checked
  > span:first-child
  > span:nth-child(2) {
  background: var(--content-white) !important;
}
.hich-mui-switch.hich-mui-switch-checked > span:last-child {
  background: var(--action-green) !important;
  border-color: var(--action-green) !important;
}
